<!-- <mat-dialog-actions>
  <button mat-mini-fab class="backBtn" mat-dialog-close aria-label="Example icon button with a cross icon">
      <mat-icon>close</mat-icon>
  </button>
 </mat-dialog-actions> -->
 <div class="card" >
<div *ngIf="loading">
	<m-loader></m-loader>
</div>
<div class="row">
	<div class="col-md-6">
		<h3  class="headingcstm">
      {{data? "Edit Product":"Add New Product"}}
		</h3>
	</div>
</div>



 
    <form name="productForm"  (ngSubmit)="Save(f)" [formGroup]="productForm" #f="ngForm" >
      <div class="row">
		
        <div class="col-sm-6">
          <div class="form-group">
            <label class="control-label">Name</label>
            <input type="text" id="name" class="form-control" [ngClass]="{'danger':  productForm.controls.name.touched , 'success' :  productForm.controls.name.valid }"  [(ngModel)]="product.name"  formControlName="name"
                 value="{{product.name}}" required />
               
                   <!-- <mat-error  >Name is required!</mat-error> -->
                   
          </div>
        </div>
        
      
        <div class="col-sm-6">
  
          <label  class="control-label">Description</label>
          <textarea class="form-control" [ngClass]="{'danger':  productForm.controls.description.touched , 'success' :  productForm.controls.description.valid }"  [(ngModel)]="product.description" formControlName="description" value="{{product.description}}"></textarea>
        
        </div>
     
        <div class="col-sm-6">
          <div class="form-group">
            <label class="control-label">Offset Cost</label>
            <input type="number" class="form-control" [ngClass]="{'danger':  productForm.controls.offsetCost.touched , 'success' :  productForm.controls.offsetCost.valid }"  [(ngModel)]="product.offsetCost" formControlName="offsetCost"
                 value="{{product.offsetCost}}" required />
          </div>
        </div>
       
        <div class="col-sm-6">
          <div class="form-group">
            <label class="control-label">EstimateCarbonFootprint</label>
            <input type="number" class="form-control" [ngClass]="{'danger':  productForm.controls.estimateCarbonFootprint.touched , 'success' :  productForm.controls.estimateCarbonFootprint.valid }"  [(ngModel)]="product.estimateCarbonFootprint" formControlName="estimateCarbonFootprint"
                 value="{{product.estimateCarbonFootprint}}" required />
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <label class="control-label">OrderBy Count</label>
            <input type="Number" class="form-control"  [(ngModel)]="product.orderByCount" formControlName="orderByCount"
                 value="{{product.orderByCount}}" />
          </div>
        </div>



        <div class="col-sm-6">
          <!-- <div class="form-group">
            <label class="control-label">Country</label>
            <input type="text" class="form-control" [(ngModel)]="product.country" formControlName="country"
                 value="{{product.country}}" required />
          </div> -->
          <mat-form-field appearance="fill">
            <mat-label>Country</mat-label>
            <mat-select formControlName="country" [(ngModel)]="product.country" required>
              <mat-option>None</mat-option>
              <mat-option *ngFor="let country of countries" value="{{country.code}}">
                {{country.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label class="control-label">Matching Name</label>
            <input type="text" class="form-control" [ngClass]="{'danger':  productForm.controls.matchingName.touched , 'success' :  productForm.controls.matchingName.valid }"  [(ngModel)]="product.matchingName" formControlName="matchingName"
                 value="{{product.matchingName}}" />
          </div>
        </div>
        <div class="form-group" id="active-div">
        <label class="control-label" id="status">Status</label> 
        <mat-slide-toggle [(ngModel)]="product.isActive" formControlName="isActive"(change)="onChange($event)" id="toggle" > <b> {{ isChecked? 'Active' : 'InActive' }} </b>  </mat-slide-toggle>
      </div>

       
       
          
      
      
        
      
    
    
      
    
      </div>
      <div class="row setMargin">
        <div class="col-sm-6">
          <button type="submit"  class="btn btn-primary pull-left" [disabled]="!productForm.valid" >{{data?"Update":"Save"}}</button>
          <button type="button" class="btn btn-warning mlt10px"   (click)="activeModal.dismiss('Cross click')">Back to list</button>
        </div>
      </div>
  </form>
  </div>
  <!-- </div> -->
