
<form (ngSubmit)="Save(f)" #f="ngForm">


  <div>
    <div class="marginno modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add Supported By</h4>
          <button type="button" class="close" data-dismiss="modal"
            (click)="activeModal.dismiss('Cross click')">&times;</button>
        </div>

        <div class="modal-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label">Add Supported By<span class="red">*</span></label>
                <input [(ngModel)]="supportedBy.supportName" name="supportName"
                  class="form-control" #jobTitleName="ngModel" type="text" required />
              </div>
            </div>
          </div>
          <p class="red" *ngIf="alreayExist">Supported By Name already exist</p>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="submit" [disabled]="!f.valid || isLoading" class="btn btn-primary pull-left">Save</button>
          <button class="btn btn-danger" (click)="activeModal.dismiss('Cross click')">Cancel</button>
        </div>

      </div>
    </div>

  </div>
</form>