<section id="banner" class="banner">
  <div class="bg-color">
    <div style="padding-top: 40px;">
      <div >
          <div class="text-center">
              <img class="img-responsive" src="../../../../../assets/app/media/img/icon.png" style="margin:10px 0px 12px 0px">
             </div>
      </div>
    </div>
    <div class="container">
      <div class="row" style="justify-content: center !important;">
        <div class="col-md-12 banner-info" style="text-align: center">
          <div class="offset-md-3 col-md-6">
            <div class="loginformhome">
              <div class="section_form">
                <form class="m-login__form m-form" name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm"
                  autocomplete="off" novalidate>
                  <div class="form-group">
                    <mat-form-field>
                      <mat-label class="newcolorlabel">User Name</mat-label>
                      <input matInput class="clrwhite" type="email" name="email" placeholder="Enter User Name"
                        autocomplete="off" [(ngModel)]="model.email" #email="ngModel" required>
                    </mat-form-field>
                  </div>
                  <div class="form-group">
                    <mat-form-field>
                      <mat-label class="newcolorlabel">Password</mat-label>
                      <input matInput class="clrwhite" minlength="4" type="password" name="password"
                        placeholder="Password" autocomplete="off" [(ngModel)]="model.password" #password="ngModel"
                        required>
                    </mat-form-field>
                  </div>
                </form>
                <!-- <p *ngIf="loginFailed != ''" class="invalidusernamepass red">{{loginFailed}}</p> -->
                <p *ngIf="isLocked" class="invalidusernamepass red">{{loginFailed}}</p>
                <div class="resmarginRight m-login__action m-login__action--fit">
                  <!-- <a href="javascript:;" (click)="forgotPasswordPage($event)" class="m-link">
                  </a> -->
                  <m-spinner-button class=" signinbutton" [options]="spinner" (click)="submit()">Login
                  </m-spinner-button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>


    </div>
  </div>
</section>
<!--/ banner-->
<!--service-->

<!-- <section id="contact" class="section-padding" style="background:#fff">
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="padding-left:0px">
        <h2 class="ser-title">Contact us</h2>
        <hr class="botm-line">

      </div>
      <div class="row">
        <div class="col-md-12" style="margin-bottom:30px">
          <p>For any further queries, Please contact following relevant departments</p>


        </div>


      </div>
    </div>
  </div>
</section> -->



<!-- <footer id="footer">
  <div class="footer-line">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          © Copyright <strong>Clara Carbon</strong>. All Rights Reserved
          <div class="credits">

          </div>
        </div>
      </div>
    </div>
  </div>
</footer> -->
