/*
    Theme Name: Medilab
    Theme URL: https://bootstrapmade.com/medilab-free-medical-bootstrap-theme/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
*/

body {
  font-family: "Open Sans", sans-serif;
  line-height: 20px;
  color: #999999;
  font-size: 300;
  font-size: 16px;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #222222;
}
a,
a:hover,
a:focus,
a:active {
  outline: none;
}

.section-padding {
  padding: 60px 0px;
}
h2 {
  line-height: 20px;
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
}
hr.botm-line {
  height: 3px;
  width: 60px;
  background: #ffb737;
  position: relative;
  border: 0;
  margin: 20px 0 20px 0;
}

/***************************************
banner
***************************************/
.navbar {
  margin-bottom: 0px;
  border: 0px;
}
.navbar {
  border-radius: 0px;
}
.navbar-default {
  padding: 20px 0;
  transition: all 0.3s;
}
.navbar-default {
  background-color: transparent;
  border: 0px;
}
.navbar {
  border-radius: 0px;
}

.navbar-brand {
  font-family: "Chewy", cursive;
  font-size: 32px;
}

.navbar-brand img {
  padding-top: 2px;
  width: 120px !important;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ea6045;
}

@media (max-width: 768px) {
  .navbar-collapse {
    background: rgba(28, 74, 90, 0.9);
  }
}

.top-nav-collapse {
  padding: 0;
  background: rgba(28, 74, 90, 0.9);
}

.white,
.white:hover,
.white:focus {
  color: #fff;
  width: 100% !important;
}
.block {
  display: block;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #fff;
  text-transform: uppercase;
  background-color: rgba(12, 184, 182, 0.21);
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  text-transform: uppercase;
  background-color: rgba(12, 184, 182, 0.21);
}
.affix {
  background-color: #ffffff !important;
}
.affix .navbar-nav > li > a:hover,
.affix .navbar-nav > li > a:focus {
  //  background-color: rgba(12, 184, 182) !important;
}
#banner {
  background: url("../../../../../assets/app/media/img/download.jpeg") no-repeat fixed;
  background-size: cover;
  min-height: 650px;
  position: relative;
}
.bg-color {
  background-color: #128c98 !important;
  min-height: 650px;
}
//	background-color: RGBA(13, 70, 83, 0.78);

// .banner-info{
// 	padding-top: 190px;
// }
.banner-logo img {
  display: inline-block;
}
.banner-text {
  color: #fff;
}
.banner-text h1 {
  font-family: "Candal", sans-serif;
  font-size: 35px;
  text-transform: uppercase;
  padding-bottom: 15px;
}
.btn-appoint,
.btn-appoint:hover,
.btn-appoint:focus {
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 12px;
  background-color: rgba(12, 184, 182, 0.91);
  border-radius: 3px;
  color: #fff;
}
.overlay-detail a i {
  text-align: center;
  position: absolute;
  bottom: 25px;
  font-size: 38px;
  color: #fff;
  margin: 0 auto;
}
.text-primary i {
  padding-top: 8px;
  display: inline-block;
}
/***************************************
services
***************************************/
.icon i {
  color: #0cb8b6;
  font-size: 45px;
  margin-bottom: 25px;
}
.service-info {
  margin-bottom: 20px;
}
.icon-info h4 {
  padding-bottom: 15px;
}
.icon-info p {
  font-size: 17px ;
}
/***************************************
cta-1
***************************************/
.schedule-tab {
  background-color: #0cb8b6;
  float: left;
}
.medi-info {
  border-right: 1px solid #fff;
}
.medi-info,
.time-info {
  padding: 20px;
  color: #fff;
}
.medi-info h3,
.time-info h3 {
  padding-bottom: 16px;
  color: #fff;
  font-weight: 600;
}
.medi-info-btn,
.medi-info-btn:hover,
.medi-info-btn:focus {
  margin: 15px 0px 5px;
  display: inline-block;
  border: solid white 2px;
  padding: 3px 8px;
  font-size: 12px;
  color: #fff;
  font-weight: 400 !important;
  cursor: pointer;
}
td {
  border: 0px solid #ededed;
  border-top: 1px solid rgba(216, 216, 216, 0.5);
  padding: 6px 10px 6px 0;
}
.medi-info,
.time-info {
  font-size: 14px;
}
/***************************************
about
***************************************/
#about {
  background-color: rgba(238, 238, 238, 0.15);
}
.lg-line {
  line-height: 1.4;
  font-size: 28px;
}
.more-features-box-text-icon {
  float: left;
  width: 40px;
  height: 40px;
  padding-top: 6px;
  background: #0cb8b6;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  text-align: center;
}
.more-features-box-text-description h3 {
  padding-bottom: 15px;
}
.more-features-box-text-icon i {
  font-size: 18px;
  line-height: 26px;
}
.more-features-box-text-description {
  margin-left: 80px;
  margin-bottom: 35px;
}
.sec-para {
  padding-bottom: 10px;
}
/***************************************
doctor team
***************************************/
.thumbnail {
  border-radius: 0px;
}
.caption h3 {
  padding-bottom: 5px;
}
.caption p {
  padding-bottom: 10px;
}
/***************************************
testimonial
***************************************/
#testimonial {
  background-color: #eee;
}
.testi-details {
  background: #fff;
  padding: 14px 24px;
  margin-bottom: 20px;
  box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.18);
  position: relative;
}
.testi-info a {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}
.testi-info a img {
  border-radius: 50%;
}
.testi-info h3 {
  display: inline-block;
  line-height: 22px;
  font-weight: 600;
  color: #000;
  margin-top: 8px;
  margin-left: 25px;
}
.testi-info h3 > span {
  display: block;
  line-height: 16px;
  font-weight: 400;
}
.testi-details::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-left: 0;
  bottom: -40px;
  left: 56px;
  border-top-color: #fff;
  border-width: 20px;
}
.testi-details::before {
  content: "";
  position: absolute;
  transform: rotate(45deg);
  width: 0px;
  height: 0px;
  bottom: -30px;
  left: 45px;
  border-style: solid;
  border-width: 15px;
  border-color: transparent;
  z-index: -1;
  box-shadow: 3px -13px 5px 0px rgba(0, 0, 0, 0.18);
  border-left: 0;
}
/***************************************
cta -2
***************************************/
#cta-2 {
  background-color: rgb(41, 48, 46);
}
.white {
  color: #fff;
}
.icon-play,
.icon-play:hover,
.icon-play:focus {
  background-color: #0cb8b6;
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  padding: 5px 17px;
  margin-top: 26px;
  display: block;
}
.text-primary {
  color: #0cb8b6;
}
.icon-mar {
  margin-right: 7px;
}
/***************************************
contact us
***************************************/
.space {
  margin-top: 40px;
}
.btn-form,
.btn-form:hover,
.btn-form:focus {
  background-color: #0cb8b6;
  color: #fff;
  border-radius: 0px;
  padding: 10px 20px;
}
.br-radius-zero {
  border-radius: 0px;
}
.form-control {
  height: 40px;
}

.validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#sendmessage {
  color: green;
  border: 1px solid green;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#sendmessage.show,
#errormessage.show,
.show {
  display: block;
}

/***************************************
footer
***************************************/
#footer {
  background-color: #128c98 !important;
}
//	background-color: #325C6A;
.ftr-tle {
  height: 50px;
}
.info-sec {
  color: #fff;
}
.quick-info li i {
  font-size: 8px;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: left;
}
.social-icon li {
  float: left;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-right: 5px;
}
.bglight-blue {
  background-color: #3498db;
}
.bgred {
  background-color: #e74c3c;
}
.bgdark-blue {
  background-color: #2c3e50;
}
.bglight-blue {
  background-color: #3498db;
}
.top-footer {
  padding: 40px 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}
.footer-line {
  padding: 30px 0px;
  color: #fff;
}

.footer-line a {
  color: #0cb8b6;
}

.quick-info li a {
  color: #fff;
}
.site-link,
.site-link:hover,
.site-link:focus {
  color: #0cb8b6;
  text-transform: none;
}
@media (min-width: 551px) and (max-width: 980px) {
}
@media (min-width: 220px) and (max-width: 551px) {
  .testi-info {
    margin-bottom: 20px;
  }
  .marb20 {
    margin-top: 30px;
  }
  h2 {
    font-size: 24px;
    line-height: 1.2;
  }
  .section-title {
    margin-bottom: 30px;
  }
  .medi-info {
    border: 0px;
    border-bottom: 1px solid #fff;
  }
  .service-info {
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .caption h3 {
    font-size: 14px;
  }
  .resimg {
    width: 300px;
  }
  .caption p {
    font-size: 12px;
    padding-bottom: 5px;
  }
  .caption ul li a i {
    font-size: 14px;
  }
  .banner-text h1 {
    font-size: 24px;
  }
  #testimonialss .profile .pic {
    border-radius: 50%;
    border: 6px solid #fff;
    margin-bottom: 15px;
    overflow: hidden;
    height: 304px !important;
    width: 329px !important;
  }
}
.btn-cstm,
.btn-cstm:hover,
.btn-cstm:focus {
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 12px;
  background-color: transparent;
  border-radius: 3px;
  color: #fff;
  border: 1px solid white;
}
.messageimg {
  max-width: 100px;
}

.quote {
  color: rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 30px;
}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #e84a64;
  border: none;
}
#fade-quote-carousel blockquote {
  text-align: center;
  border: none;
}
#fade-quote-carousel .profile-circle {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 100px;
}

.txtalign {
  text-align: center;
}
.mt-30px {
  margin-top: 30px;
}
#testimonialss {
  background: #f6f6f6;
  padding: 80px 0;
}

#testimonialss .quote {
  position: relative;
  background: #fff;
  padding: 60px;
  margin-top: 40px;
  font-size: 16px;
  font-style: italic;
  border-radius: 5px;
  color: #666666;
}
#testimonialss .profile .pic {
  border-radius: 50%;
  border: 6px solid #fff;
  margin-bottom: 15px;
  overflow: hidden;
  height: 260px;
  width: 260px;
}
#testimonialss .profile {
  text-align: center;
}
#testimonialss .profile .pic img {
  max-width: 100%;
}

.template_faq {
  background: #edf3fe none repeat scroll 0 0;
}
.panel-group {
  background: #fff none repeat scroll 0 0;
  border-radius: 3px;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.04);
  margin-bottom: 0;
  padding: 30px;
}
#accordion .panel {
  border: medium none;
  border-radius: 0;
  box-shadow: none;
  margin: 0 0 15px 10px;
}
#accordion .panel-heading {
  border-radius: 30px;
  padding: 0;
}
#accordion .panel-title a {
  background: rgba(28, 74, 90, 0.9) none repeat scroll 0 0;
  border: 1px solid transparent;
  border-radius: 30px;
  color: #fff;
  display: block;
  font-size: 18px;
  font-weight: 600;
  padding: 12px 20px 12px 50px;
  position: relative;
  transition: all 0.3s ease 0s;
}
#accordion .panel-title a.collapsed {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ddd;
  color: #333;
}
#accordion .panel-title a::after,
#accordion .panel-title a.collapsed::after {
  background: rgba(28, 74, 90, 0.9) none repeat scroll 0 0;
  border: 1px solid transparent;
  border-radius: 50%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.58);
  color: #fff;
  content: "";
  font-family: fontawesome;
  font-size: 25px;
  height: 55px;
  left: -20px;
  line-height: 55px;
  position: absolute;
  text-align: center;
  top: -5px;
  transition: all 0.3s ease 0s;
  width: 55px;
}
#accordion .panel-title a.collapsed::after {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ddd;
  box-shadow: none;
  color: #333;
  content: "";
}
#accordion .panel-body {
  background: transparent none repeat scroll 0 0;
  border-top: medium none;
  padding: 20px 25px 10px 9px;
  position: relative;
}
#accordion .panel-body p {
  border-left: 1px dashed #8c8c8c;
  padding-left: 25px;
}

.banner-info {
  padding-top: 50px;
}
.nav-link {
  color: white !important;
  margin-left: 30px;
}

// .navbar {
//     border-radius: 0px;
// }
// .navbar-default {
//     background-color: transparent;
//     border: 0px;
// }
// .navbar-default {

//     padding: 20px 0;
//     transition: all 0.3s;
// }
// .navbar {
//     border-radius: 0px;
// }
// .navbar {
//     margin-bottom: 0px;
//     border: 0px;
// }
// .navbar-default {

//     border-color: #e7e7e7;
// }
// .navbar-fixed-top {
//     top: 0;
//     border-width: 0 0 1px;
// }
// @media (min-width: 768px){
//     .navbar-fixed-bottom, .navbar-fixed-top {
//         border-radius: 0;
//     }
// }

// .navbar-fixed-bottom, .navbar-fixed-top {
//     position: fixed;
//     right: 0;
//     left: 0;
//     z-index: 1030;
// }
// @media (min-width: 768px){.navbar {
//     border-radius: 4px;
// }}

// .navbar {
//     position: relative;
//     min-height: 50px;
//     margin-bottom: 20px;
//     border: 1px solid transparent;
// }
// article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
//     display: block;
// }

// @media (min-width: 768px){
// .navbar-header {
//     float: left;
// }}

// .navbar-default .navbar-toggle {
//     border-color: #ddd;
// }
// @media (min-width: 768px){
//     .navbar-toggle {
//         display: none;
//     }
// }

// .navbar-toggle {
//     position: relative;
//     float: right;
//     padding: 9px 10px;
//     margin-top: 8px;
//     margin-right: 15px;
//     margin-bottom: 8px;
//     background-color: transparent;
//     background-image: none;
//     border: 1px solid transparent;
//     border-radius: 4px;
// }

// navbar-default .navbar-collapse, .navbar-default .navbar-form {
//     border-color: #e7e7e7;
// }
// .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
//     max-height: 340px;
// }
// @media (min-width: 768px){
//     .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse {
//         padding-right: 0;
//         padding-left: 0;
//     }
// }

// @media (min-width: 768px){
//     .navbar-collapse.collapse {
//         display: block!important;
//         height: auto!important;
//         padding-bottom: 0;
//         overflow: visible!important;
//     }
// }

// @media (min-width: 768px)
// {
//     .navbar-right {
//         float: right!important;
//         margin-right: -15px;
//     }
// }

// @media (min-width: 768px)
// {
//     .navbar-collapse {
//         width: auto;
//         border-top: 0;
//         -webkit-box-shadow: none;
//         box-shadow: none;
//     }
// }

// .navbar-collapse {
//     padding-right: 15px;
//     padding-left: 15px;
//     overflow-x: visible;
//     -webkit-overflow-scrolling: touch;
//     border-top: 1px solid transparent;
//     -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
//     box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
// }

// .collapse {
//     display: none;
// }

// @media (min-width: 768px){
//     .navbar-nav {
//         float: left;
//         margin: 0;
//     }
// }

// .navbar-nav {
//     margin: 7.5px -15px;
// }
// .nav {
//     padding-left: 0;
//     margin-bottom: 0;
//     list-style: none;
// }
// navbar navbar-default navbar-fixed-top{
//     background: transparent !important
// }

.mat-expansion-panel-header-title {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 600;
}

.nav-link:focus {
  text-transform: uppercase;
  background-color: rgba(12, 184, 182, 0.21);
}

.nav-link:hover {
  text-transform: uppercase;
  background-color: rgba(12, 184, 182, 0.21);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
.loginformhome {
  background: rgba(0, 0, 0, 0.5);
  padding-bottom: 35px;
  // padding-top: 35px;
  border-radius: 5px;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: rgba(255, 254, 254, 0.42) !important;
}
.mat-form-field-appearance-legacy.mat-form-field-can-float
  .mat-form-field-autofill-control:-webkit-autofill
  + .mat-form-field-label-wrapper
  .mat-form-field-label {
  color: white !important;
}
.mat-form-field-label {
  color: white !important;
}
.newcolorlabel {
  color: white !important;
}

::placeholder {
  color: white !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white !important;
}

.width90 {
  width: 90%;
}

.signinbutton {
  float: right;
  //   padding-right: 15px;
}

.invalidusernamepass {
  text-align: left;
  margin: 0px;
  padding-left: 21px;
  margin: 0px;
}

.headingcstmforhome {
  font-family: "poppins", sans-serif !important;
  text-align: left !important;
  //   padding-left: 17px;
  // margin-bottom: 35px;
  font-size: 16px;
  text-align: center !important;
  margin: 0px;
}
.section_logo {
  background: white;
  // border-top-right-radius: 5px;
  // border-top-left-radius: 5px;
  padding: 10px;
}
.section_form,
.section_heading {
  padding: 20px;
}
img.img-responsive {
  // width: 175px;
  // padding: 6px;
}
.loginformhome .section_logo,
.loginformhome .section_heading {
  border-bottom: 1px solid rgba(253, 255, 253, 0.48);
}
.mat-form-field {
  width: 70%;
}

@media (max-width: 768px) {
  .navbar-collapse[_ngcontent-c1] {
    background: rgba(83, 139, 159, 0.9);
  }
  #contact {
    padding-left: 10px !important;
  }
 
  .resimg {
    width: 300px;
  }
  .section_logo .col-md-4.col-sm-4:nth-child(2) {
    margin-bottom: 5px;
  }
  .section_logo .col-md-4.col-sm-4:nth-child(2) img {
    width: 90px !important;
  }
  .section_logo .col-md-4.col-sm-4:nth-child(3) img {
    width: 60px !important;
  }
  .headingcstmforhome {
    font-size: 10px;
  }
  img.img-responsive {
    width: 150px;
  }
}
@media only screen and (max-width: 500px) {
.mat-expansion-panel-header-title{
  font-size: 17px !important;}
}
@media (max-width: 767px) {
.banner-info {
  padding-top: 75px;
}
}
.resmarginRight {
  margin-right: 70px;
}
a{
  cursor: pointer !important;
}