<form (ngSubmit)="Save(f)" #f="ngForm">


    <div>
  
      <div class="marginno modal-dialog">
        <div class="modal-content">
  
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Add Program</h4>
            <button type="button" class="close" data-dismiss="modal" (click)="activeModal.dismiss('Cross click')">&times;</button>
          </div>
  
          <!-- Modal body -->
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="control-label">Program<span class="red" *ngIf="departmentProgramName.errors">*</span></label>
                  <input [(ngModel)]="ProgramModel.departmentProgramName"
                  name="departmentProgramName" class="form-control" #departmentProgramName="ngModel"
                    type="text" required />
                </div>
              </div>
            </div>
            <p class="red" *ngIf="alreayExist">Program already exist</p>
          </div>
  
          <!-- Modal footer -->
          <div class="modal-footer">
              <button type="submit" [disabled]="!f.valid" class="btn btn-primary pull-left">Save</button>
            <button class="btn btn-danger" (click)="activeModal.dismiss('Cross click')">Cancel</button>
          </div>
  
        </div>
      </div>
  
    </div>
  </form>