<form (ngSubmit)="Save(f)" #f="ngForm">


    <div>
  
      <div class="marginno modal-dialog">
        <div class="modal-content">
  
          <!-- Modal Header -->
          <div class="modal-header">
			  <h4 class="modal-title">Add Notification</h4>
            <button type="button" class="close" data-dismiss="modal" (click)="activeModal.dismiss('Cross click')">&times;</button>
          </div>
  
          <!-- Modal body -->
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="control-label">District<span class="red" *ngIf="districtId.errors">*</span></label>
                  <!-- <input class="form-control" type="text" /> -->
                  <select (change)="onDistrictChange(TehseelModel.districtId)" [(ngModel)]="TehseelModel.districtId" name="districtId" class="form-control"
                    #districtId="ngModel" required>
                    <option selected value="">Please select</option>
                    <option *ngFor="let District of Districts" value={{District.districtId}}>
                      {{District.districtName}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
					<label class="control-label">Tehsil<span class="red" *ngIf="tehseelName.errors">*</span></label>
                  <input [(ngModel)]="TehseelModel.tehseelName"
                  name="tehseelName" class="form-control" #tehseelName="ngModel"
                    type="text" required />
                </div>
              </div>
            </div>
			<p class="red" *ngIf="alreayExist">Tehsil already exist</p>
          </div>
  
          <!-- Modal footer -->
          <div class="modal-footer">
              <button type="submit" [disabled]="!f.valid || isLoading" class="btn btn-primary pull-left">Save</button>
            <button class="btn btn-danger" (click)="activeModal.dismiss('Cross click')">Cancel</button>
          </div>
  
        </div>
      </div>
  
    </div>
  </form>
