<div class="row" style="margin-bottom: 20px;">
  <div class="col-sm-6">
    <h3 class="headingcstm1">Training Detail </h3>
  </div>

  <div *ngIf="TrainingModel.status != 'Closed' && TrainingModel.status != 'Cancel'" class="col-sm-6">
    <div class="justifycontentend input-group">
      <button *ngIf="canEditT && !currentUser.showDistrictwiseData" (click)="updateTraining('Closed', TrainingModel.id)"
        class="btn btn-primary">Close Training</button>
      <!-- <button (click)="updateTraining('Cancelled', TrainingModel.id)" style="margin-left:5px;"
        class="btn btn-danger">Cancel Training</button> -->
    </div>

  </div>
</div>

<form #f="ngForm" class="card">




  <div *ngIf="isLoading">
    <m-loader></m-loader>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label">Department:</label>
        <label class="mlt10px"><span>{{TrainingModel.departmentName}}</span></label>


      </div>
    </div>
    <!-- <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label">Participant Target:</label>
        <label class="mlt10px"><span>{{TrainingModel.participantTarget}}</span></label>

      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label">Institute:</label>

        <label class="mlt10px"><span>{{TrainingModel.instituteName}}</span></label>

      </div>
    </div>
  

    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label">Participant Achieved:</label>
        <label class="mlt10px"><span>{{TrainingModel.participantAchieved}}</span></label>


      </div>
    </div> -->
    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label">Type of Training:</label>
        <label class="mlt10px"><span>{{TrainingModel.trainingCategoryName}}</span></label>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label">Training Organized By:</label>
        <label class="mlt10px"><span>{{TrainingModel.organizationName}}</span></label>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label">District:</label>
        <label class="mlt10px"><span>{{TrainingModel.districtName}}</span></label>
      </div>
    </div>
    <!-- <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label">Cadre:</label>

        <label class="mlt10px"><span>{{TrainingModel.cadreName}}</span></label>

      </div>
    </div> -->
    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label">Training Venue:</label>
        <label class="mlt10px"><span>{{TrainingModel.venueName}}</span></label>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label">Training Tehsil:</label>
        <label class="mlt10px"><span>{{TrainingModel.tehseelName}}</span></label>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label">Training Start Date:</label>
        <label class="mlt10px"><span>{{TrainingModel.startDate | date}}</span></label>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label">Type of Trainee:</label>
        <label *ngIf="TrainingModel.typeOfTraineeNames"
          class="mlt10px"><span>{{TrainingModel.typeOfTraineeNames.join(', ')}}</span></label>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label">Supported By:</label>
        <label class="mlt10px"><span>{{TrainingModel.supportName}}</span></label>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label">Training End Date:</label>
        <label class="mlt10px"><span>{{TrainingModel.endDate | date}}</span></label>
      </div>
    </div>

  </div>
  <div class="row">

    <div class="col-sm-4">
    </div>

  </div>
  <div class="row">

  </div>
  <div class="row">

  </div>

  <div class="row setMargin">
    <div class="col-sm-4">
      <a routerLink="/trainings"><button class="btn btn-warning">Back to list</button></a>
      <a *ngIf="canEditT" [routerLink]="['/trainings/addNew', TrainingModel.id]"><button class="btn btn-primary"
          style="margin-left:5px;">Edit</button></a>
    </div>
    <div class="col-sm-6">

    </div>

  </div>
</form>
<!--Ammar-->
<mat-tab-group class="card" [selectedIndex]="selectedTab" style="margin-top:20px">
  <mat-tab label="Nominations">
    <div>
      <div class="row">
        <div class="col-md-6">
          <!-- <h3 class="headingcstm2">
                  Nominations</h3> -->
        </div>
        <div class="col-md-6">
          <button *ngIf="canAddP" class="btn btn-primary pull-right" (click)="navigateToNomination(TrainingModel.trainingCategoryId, TrainingModel.courseId,
              TrainingModel.districtId, TrainingModel.venueId,trainingId)">Add
            Nomination</button>
        </div>
      </div>

      <div class="">

        <div class="table-wrapper">
          <div class="setMargin">
            <div class="float-right">
              <div class="form-group">
                <label class="control-label">Total Nominations:</label>
                <label class="mlt10px"><span>{{totalNomination}}</span></label>
              </div>
            </div>
            <table matSort (matSortChange)="sortData($event)" ng-cloak class="table table-hover dataTable no-footer">
              <thead class="thead-dark">
                <tr>
                  <th mat-sort-header="cnic">CNIC</th>
                   <th mat-sort-header="firstName">Full Name</th>
                  <th mat-sort-header="trainingCategoryName">Type of Training</th>
                   
                  <th mat-sort-header="districtName">District</th>
                  <th mat-sort-header="venueName">Venue</th>
                  <th mat-sort-header="departmentName">Department</th>
                  <th mat-sort-header="startDate">Start Date</th>
                  <th mat-sort-header="endDate">End Date</th>
                  <th mat-sort-header="duration">Duration</th>
                 
                 
                 
                  
                </tr>
              </thead>
              <tbody *ngIf="nominations?.length <= 0">
                <tr>
                  <td class="centerText" colspan="9">No nominations found!</td>
                </tr>
              </tbody>
              <tbody *ngIf="nominations?.length > 0">
                <tr
                  *ngFor="let nomination of nominations | paginate: { id: 'pagination1', itemsPerPage: nominationItemsPerPage, currentPage: nominationCurrentPage, totalItems: totalNomination };">
                  <!-- | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems };-->
                  <td>{{nomination.cnic}}</td>
                      <td>{{nomination.firstName}}</td>
                  <td>{{nomination.trainingCategoryName}}</td>
                  
                  <td>{{nomination.districtName}}</td>
                  <td>{{nomination.venueName}}</td>
                  <td>{{nomination.departmentName}}</td>
                  <td>{{nomination.startDate | date}}</td>
                  <td>{{nomination.endDate | date}}</td>
                  <td>{{nomination.duration}}</td>
              
                 
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div *ngIf="!isLoading" class="row">
        <div class="col-md-8">
          <div *ngIf="nominations?.length > 0" class="col-xs-8 col-8">
            <pagination-controls id="pagination1" (pageChange)="pageChanged2(nominationCurrentPage=$event)">
            </pagination-controls>
          </div>
        </div>
        <div class="col-md-4 textalignright">
          <!-- Showing {{pageStart}} to {{currentListCount}} of {{totalItems}} -->
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Participant">
    <div class="row">
      <div class="col-md-6">

      </div>
      <div class="col-md-6">
        <button *ngIf="canAddP" class="btn btn-primary pull-right" (click)="navigateToParticipant(TrainingModel.trainingCategoryId, TrainingModel.courseId,
          TrainingModel.districtId, TrainingModel.venueId, trainingId)">Add Participant</button>
      </div>
    </div>

    <div class="">

      <div class="table-wrapper">
        <div class="setMargin">
          <div class="float-right">
            <div class="form-group">
              <label class="control-label">Total Participants:</label>
              <label class="mlt10px"><span>{{Participants?.length}}</span></label>
            </div>
          </div>

          <table matSort (matSortChange)="sortData($event)" ng-cloak class="table table-hover dataTable no-footer">
            <thead class="thead-dark">
              <tr>
                <th mat-sort-header="cnic">CNIC</th>
                <th mat-sort-header="firstName">First Name</th>
                <th mat-sort-header="fatherName">Last Name</th>
                <th mat-sort-header="gender">Gender</th>
                <th mat-sort-header="jobTitleName">Job Title</th>
                <th mat-sort-header="placeOfPostingName">Place of Work</th>
                <th mat-sort-header="trainingCategoryName">Type of Training</th>
                <th mat-sort-header="departmentName">Department</th>
                <th mat-sort-header="districtName">District</th>
                <th mat-sort-header="trainingVenueName">Venue</th>
                <th mat-sort-header="startDate">Start Date</th>
                <th mat-sort-header="endDate">End Date</th>

              </tr>
            </thead>
            <tbody *ngIf="Participants?.length <= 0">
              <tr>
                <td class="centerText" colspan="9">No participants found!</td>
              </tr>
            </tbody>
            <tbody *ngIf="Participants?.length > 0">
              <tr
                *ngFor="let Participant of Participants | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalParticipants };">
                <td>{{Participant.cnic}}</td>
                <td>{{Participant.firstName}}</td>
                <td>{{Participant.fatherName}}</td>
                <td>{{Participant.gender}}</td>
                <td>{{Participant.jobTitleName}}</td>
                <td>{{Participant.placeOfPostingName}}</td>
                <td>{{Participant.trainingCategoryName}}</td>
                <td>{{Participant.departmentName}}</td>
                <td>{{Participant.districtName}}</td>
                <td>{{Participant.trainingVenueName}}</td>
                <td>{{Participant.startDate | date: 'MMM dd, yyyy'}}</td>
                <td>{{Participant.endDate | date: 'MMM dd, yyyy'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div *ngIf="!isLoading" class="row">
      <div class="col-md-8">
        <div *ngIf="Participants?.length > 0" class="col-xs-8 col-8">
          <pagination-controls pagination-id="pgnParticipants" (pageChange)="pageChanged(totalItems=$event)">
          </pagination-controls>
        </div>
      </div>

    </div>
  </mat-tab>

</mat-tab-group>


<!--Trainers-->
<mat-tab-group class="card " style="margin-top:20px">
  <mat-tab label="Trainers">
    <div class="row">
      <div class="col-md-6">

      </div>
      <div class="col-md-6">
        <button *ngIf="canAddTR" class="btn btn-primary pull-right" (click)="NavigateToTrainer(TrainingModel.trainingCategoryId, TrainingModel.courseId,
        TrainingModel.districtId, TrainingModel.venueId,TrainingModel.id)">Add trainer to training</button>
      </div>
    </div>

    <div class="">

      <div class="table-wrapper">
        <div class="setMargin">
          <div class="float-right">
            <div class="form-group">
              <label class="control-label">Total Trainers:</label>
              <label class="mlt10px"><span>{{Trainers?.length}}</span></label>
            </div>
          </div>
          <table matSort ng-cloak class="table table-hover dataTable no-footer">
            <thead class="thead-dark">
              <tr>

                <th>CNIC</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Job Title</th>
                <th>Venue Name</th>
                <th>Trainer Type</th>
                <th>Department</th>
                <th>Place of Work</th>
                <th>Profile Pic</th>
                <th>District</th>
                <th *ngIf="canDeleteTR">Action</th>
              </tr>
            </thead>
            <tbody *ngIf="!(Trainers?.length > 0)">
              <tr>
                <td class="centerText" colspan="10">No trainers found!</td>
              </tr>
            </tbody>
            <tbody *ngIf="Trainers?.length > 0">
              <tr *ngFor="let Trainer of Trainers">
                <!--| paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems };-->
                <td>{{Trainer.cnic}}</td>
                <td>{{Trainer.name}}</td>
                <td>{{Trainer.surname}}</td>
                <td>{{Trainer.jobTitleName}}</td>
                <td>{{Trainer.venueName}}</td>
                <td>{{Trainer.trainingTypeName? Trainer.trainingTypeName: "--"}}</td>
                <!--<td>{{Trainer.trainingCategoryName}}</td>-->
                <td>{{Trainer.departmentName}}</td>
                <td>{{Trainer.placeOfPostingName}}</td>
                <td><img [src]="url+Trainer.profilePic" height="50" width="50" /></td>
                <td>{{Trainer.districtName}}</td>
                <td *ngIf="canDeleteTR">
                  <button (click)="DisAssociateTrainer(Trainer.trainerTrainingId)"
                    class="btncstm1 btn btn-danger marginLeft">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div *ngIf="!isLoading" class="row">
      <div class="col-md-8">
        <div *ngIf="Trainers?.length > 0" class="col-xs-8 col-8">
          <!--<pagination-controls pagination-id="pgnTrainers" (pageChange)="pageChanged($event)"></pagination-controls>-->
        </div>
      </div>
      <div class="col-md-4 textalignright">
        <!-- Showing {{pageStart}} to {{currentListCount}} of {{totalItems}} -->
      </div>
    </div>

  </mat-tab>
</mat-tab-group>
<!--End Trainers-->