<div *ngIf="isLoading">
	<m-loader></m-loader>
</div>
<div class="row">
	<div class="col-md-6">
		<h3  class="headingcstm">
			{{ Id==null?"Add Notification":"Edit notification"}}
		</h3>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
			<label class="control-label">Country List<span class="red">*</span></label>
			<ng-multiselect-dropdown
			name="UserList"
			[placeholder]="'Select Country'"
			[data]="filter.country"
			[(ngModel)]="selectedCountries"
			[settings]="countryDropdownSettings"
			(onSelect)="onCountrySelect($event)"
			(onSelectAll)="onSelectAllCountries($event)"
			(onDeSelect)="onCountryDeSelect($event)"
			#UserList="ngModel"
			required
		  >
		  </ng-multiselect-dropdown>
		  
		</div>
	</div>

	<div class="col-sm-6">
		<div class="form-group">
			<label class="control-label">Status<span class="red">*</span></label>

			<div class="checkboxset">
			<div class="mr-20px active-div">
			<label class="control-label margin-0"> Active
			</label>
			<input type="checkbox" name="Active" [(ngModel)]="filter.statusActive" (click)="statusFilter($event,1)" />
		</div>
		<div class="inActive-div">
			<label class="control-label margin-0"> InActive
			</label>
			<input type="checkbox" name="InActive" [(ngModel)]="filter.statusInActive" (click)="statusFilter($event,0)"/>

		</div>
	</div>
		</div>
	</div>


</div>



<form (ngSubmit)="Save(f)" #f="ngForm" class="card">
	<div class="row">
		
		<div class="col-sm-6">
			<div class="form-group">
				<label class="control-label">Notification Date<span class="red">*</span></label>
				<div class="input-group">
					<mat-form-field>
						<mat-label>Choose a date</mat-label>
						<input matInput name="NotificationDate" #NotificationDate="ngModel" autocomplete="off" [class.redinvalid]="!NotificationDate.valid && f.submitted" required   [(ngModel)]="Notification.NotificationDate" [matDatepicker]="picker">
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker #picker></mat-datepicker>
					  </mat-form-field>
					  <mat-form-field appearance="fill" style="width: 75px;">
						<mat-label>Hour</mat-label>
						<mat-select name="Hour" #Hour="ngModel" [(ngModel)]="Notification.Hour">
						  <mat-option *ngFor="let hour of numbers" value="{{hour}}">{{hour}}</mat-option>
						</mat-select>
					  </mat-form-field>
					<!-- <input type="date" name="NotificationDate" class="form-control"  [(ngModel)]="Notification.NotificationDate" #NotificationDate="ngModel" autocomplete="off" [class.redinvalid]="!NotificationDate.valid && f.submitted" required  />
					<select name="Interval" #Interval="ngModel" [(ngModel)]="Notification.Hour" style="width: 75px;">
						<option value="" selected="selected">Hour</option>
						<option *ngFor="let hour of numbers" value="hour">{{hour}}</option>
					  </select> -->
					<!-- <input 
						  type="datetime" [(ngModel)]="Notification.NotificationDate" name="NotificationDate" class="form-control" bsDatepicker #d2="bsDatepicker"
						    #NotificationDate="ngModel" autocomplete="off" [class.redinvalid]="!NotificationDate.valid && f.submitted" required  />
					
					<input type="time" [(ngModel)]="Notification.Hours" name="Hours"  
					#Hours="ngModel" autocomplete="off" [class.redinvalid]="!Hours.valid && f.submitted" required > 
					<div class="input-group-append">
						<button class="btn btn-primary" (click)="d2.toggle()" type="button">
							<i class="la la-calendar"></i>
						</button>
					</div> -->
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label class="control-label">Title<span class="red">*</span></label>
				<input [(ngModel)]="Notification.Title" name="Title" class="form-control"
					   type="Text"
					   #Title="ngModel" required  [class.redinvalid]="!Title.valid && f.submitted"/>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="form-group">
				<label class="control-label">Description</label>
				<input type="text" class="form-control" [(ngModel)]="Notification.Description" name="Description"
					   value="{{Notification.Description}}" #Description="ngModel" [class.redinvalid]="!Description.valid && f.submitted" required  />
			</div>
		</div>
		

		<!-- <div class="col-sm-6">
			<div class="form-group">
				<label class="control-label">Schedule</label>
	
				<div class="checkboxset">
				<div class="mr-20px active-div">
				<label class="control-label margin-0"> Reschedule
				</label>
				<input type="checkbox" name="IsReschedule" [(ngModel)]="Notification.IsReschedule" #IsReschedule="ngModel" required  [class.redinvalid]="!Title.valid && f.submitted"/>
			</div>
			
		</div>
			</div>
		</div> -->


		

		



		


		<div class="col-sm-6">
			<div class="form-group" >
				<label class="control-label" >User List<span class="red" >*</span></label>
				<div id="select-notify">
				<ng-multiselect-dropdown
				
				name="UserList"
				[placeholder]="'Select User'"
				[data]="filter.users"
				[(ngModel)]="selectedItems"
				[settings]="dropdownSettings"
				(onSelect)="onItemSelect($event)"
				(onSelectAll)="onSelectAll($event)"
				#UserList="ngModel"
				
				required
				[class.redinvalid]="selectedItems.length == 0 && f.submitted"
			  >
			  </ng-multiselect-dropdown>

				
			</div>
			</div>
		</div>

		
		<div class="col-sm-6" id="interval">
			<div class="form-group" >
		<label class="control-label">Interval<span class="red" >*</span></label>
		<div id="select-notify">
		<mat-form-field appearance="fill">
			<mat-label>Interval</mat-label>
			<mat-select name="Interval" #Interval="ngModel" [(ngModel)]="Notification.Interval">
				<mat-option value="ontime">One-off</mat-option>
			  <mat-option value="daily">Daily</mat-option>
			  <mat-option value="weekly">Weekly</mat-option>
			  <mat-option value="monthly">Monthly</mat-option>
			</mat-select>
		  </mat-form-field>
		  </div>
		  </div>
	</div>


	<div class="col-sm-6" id="status">
		<div class="form-group" >
			<div id="select-notify">
        <label class="control-label" id="status">Status</label> 
        <mat-slide-toggle class="check" name="IsActive" #IsActive="ngModel" [(ngModel)]="Notification.IsActive"> <b>Active</b>  </mat-slide-toggle>
			</div>
		</div>
		</div>

	
		
	


	

	</div>
	<div class="row setMargin">
		<div class="col-sm-6">
			<button type="submit" class="btn btn-primary pull-left">Save</button>
			<button type="button" class="btn btn-warning mlt10px" (click)="activeModal.dismiss('Cross click')">Back to list</button>
		</div>
	</div>
</form>
