<div class="row">
  <div class="col-md-6">
    <h3 class="headingcstm">
      Search By CNIC and Name</h3>
  </div>

</div>

<div class="card">

  <form>
    <div class="row setMargin">


      <div class="col-sm-4">
        <div class="form-group">
          <label class="control-label">Name</label>
          <input [(ngModel)]="model.name" type="text" class="form-control" placeholder="Enter Name" name="name">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label class="control-label">CNIC</label>
          <mat-form-field class="container">

            <!-- ADD AN INPUT BOX OF TYPE TEXT AND LINK IT TO THE AUTO COMPLETE PANEL. -->
            <input [(ngModel)]="model.cnic" type="text" placeholder="Search cnic ..." matInput
              [formControl]="searchTerm" [matAutocomplete]="auto">

            <!-- CREATE AUTO COMPLETE PANEL WITH OPTIONS. -->
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option (onSelectionChange)="GetNameByCnic(obj)" *ngFor="let obj of CNICObj" [value]="obj">
                {{ obj }}
              </mat-option>
            </mat-autocomplete>

          </mat-form-field>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label class="transparentclr control-label">E</label>
          <div class="input-group">
            <button _ngcontent-c8="" (click)="GetParticipantData()" class="btn btn-success widh100">Filter</button>
          </div>
        </div>
      </div>

    </div>
  </form>
  <div *ngIf="isLoading">
    <m-loader></m-loader>
  </div>
</div>


<div class="mt10px card" *ngFor="let obj of reportData | paginate: { itemsPerPage: paging.PageSize, currentPage: paging.CurrentPage};">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label class="control-label">CNIC:</label>
        <label class="mlt10px"><span>{{obj.cnic}}</span></label>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label class="control-label">Name:</label>
        <label class="mlt10px"><span>{{obj.name}}</span></label>

      </div>
    </div>
  </div>

  
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label class="control-label">Facility:</label>
        <label class="mlt10px"><span>{{obj.facility}}</span></label>

      </div>
    </div>
  </div>
  <div class="table-wrapper">
    <table class="table table-hover dataTable no-footer">
      <thead class="thead-dark">
        <tr>
          <th>Trainings</th>
          <th>Course Name</th>
          <th>DATE OF TRAINING</th>
          <th>PRETEST SCORE</th>
          <th>POSTTEST SCORE</th>
        </tr>
      </thead>
      <tr *ngFor="let detail of obj.participantDetails">
        <td>{{detail.trainings}}</td>
        <td>{{detail.courseName}}</td>
        <td>{{detail.dateOfTrainings | date}}</td>
        <td>{{detail.pretestScore}}</td>
        <td>{{detail.posttestScore}}</td>
      </tr>
    </table>
  </div>
</div>

<div *ngIf="reportData?.length > 0" class="row mt10px">
  <div class="col-md-8">
    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
  </div>
</div>