<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-grid--hor-tablet-and-mobile m-login m-login--6" id="m_login">
	<div class="m-grid__item   m-grid__item--order-tablet-and-mobile-2 m-grid m-grid--hor m-login__aside" style="background-image: url(assets/app/media/img/bg/bg-5.jpg);">
		<div class="m-grid__item">
			<div class="m-login__logo">
				<a href="#">
					<img class="loginmobilelogo" style="width: 160px;" src="./assets/app/media/img/Jhpiego logo - affiliate.png">
				</a>
			</div>
		</div>

		<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver">
			<div class="m-grid__item m-grid__item--middle">
				
				<span class="m-login__subtitle">
					XYZ is a web-based Training Management Information System (XYZ) is a web-
					based management information system that was developed under Maternal and
					Child Survival Program (MCSP) implemented by xyz. Various bespoke packages
					of XYZ were installed, made functional and handed over to the Provincial
					Governments of Balochistan, Sindh and Punjab.
					Continuing the scale up plan of XYZ, it is now being introduced in the province of
					Khyber Pakhtunkhwa by xyz for the very first time. This system will facilitate the
					electronic management of training records at the Provincial Departments of Health
					and Population Welfare. This digital system serve as a promising opportunity for the
					departments to develop relationship, discuss learning and best practices, and to
					better collate the information.
				</span>
			</div>
		</div>

		<div class="m-grid__item">
			<div class="m-login__info">
				<div class="m-login__section">
					<a href="javascript:;" class="m-link">&copy; {{today | date:'yyyy'}} XYZ</a>
				</div>
				<!-- <div class="m-login__section">
					<a href="javascript:;" class="m-link">Privacy</a>
					<a href="javascript:;" class="m-link">Legal</a>
					<a href="javascript:;" class="m-link">Contact</a>
				</div> -->
			</div>
		</div>
	</div>

	<div class="m-grid__item m-grid__item--fluid  m-grid__item--order-tablet-and-mobile-1 m-login__wrapper">
		<!--begin::Head-->
		<!-- <div class="m-login__head">
			<span translate="AUTH.GENERAL.NO_ACCOUNT">Don't have an account?</span>
			<a href="javascript:;" (click)="register()" class="m-link m--font-danger" translate="AUTH.GENERAL.SIGNUP_BUTTON">Sign Up</a>
		</div> -->
		<!--end::Head-->

		<!--begin::Body-->
		<div class="m-login__body">
			<m-login *ngIf="action === 'login'" [(action)]="action"></m-login>

			<!-- <m-register *ngIf="action === 'register'" [(action)]="action"></m-register>

			<m-forgot-password *ngIf="action === 'forgot-password'" [(action)]="action"></m-forgot-password> -->
		</div>
		<!--end::Body-->
	</div>
</div>
