<div class="row">
	<div class="col-md-6">
		<h3 class="headingcstm">
			Products
		</h3>
	</div>
	<div class="margintopresponsive col-md-6">
			<button  *ngIf="canAdd" class="headingcstmbtn  btn btn-primary pull-right" (click)="OpenDialog()">
        Add Product
			</button>
		
	</div>
</div>

<!-- <input type="text" [(ngModel)]="terms" placeholder="Serach any fields"/> -->
  <div class="filter-box">
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput [(ngModel)]="filterName" (change)="applyFilter($event)" placeholder="Filter Products" #input>
    </mat-form-field>
  </div>
  <div *ngIf="isLoading">
    <m-loader></m-loader>
  </div>
    <div class="mat-elevation-z8">
      <div class="overflow-scroll">
        <table #table mat-table [dataSource]="dataSource"  >
                <ng-container matColumnDef="name">
                  <th  mat-header-cell *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let product"> {{product.name}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="description">
                  <th  mat-header-cell *matHeaderCellDef > Description </th>
                  <td mat-cell *matCellDef="let product"><p class="m-0 pr-35px">{{(product.description?.length > 80) ? ((product.description).slice(0, 80) + '...') : product.description}} </p> </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="offsetCost">
                  <th  mat-header-cell *matHeaderCellDef > Offset Cost </th>
                  <td mat-cell *matCellDef="let product"> {{product.offsetCost}} </td>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="estimateCarbonFootprint">
                  <th  mat-header-cell *matHeaderCellDef > Estimate Carbon Footprint </th>
                  <td mat-cell *matCellDef="let product"> {{product.estimateCarbonFootprint}} </td>
                </ng-container>
          
               
          
                <ng-container matColumnDef="Actions">
                  <th  mat-header-cell *matHeaderCellDef > Actions </th>
                  <td mat-cell *matCellDef="let product" class="actionbtn" > 
                    <div class="mt-12px">
                      <button mat-mini-fab color="warn" aria-label="Example icon button with a bookmark icon" (click)="deleteProduct(product)" class="delete-button">
                        <mat-icon>delete</mat-icon>
                      </button>
                      <button mat-raised-button mat-mini-fab color="primary"  (click)="editDialog(product)" class="ml-10px edit-button"><mat-icon>edit</mat-icon></button>
                    </div>                   
                </td>
                  <!-- <th  mat-header-cell *matHeaderCellDef mat-sort-header> Edit </th>
                  <td mat-cell *matCellDef="let product"> <button mat-raised-button color="accent">Accent</button> </td> -->
                </ng-container>
                
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                
                 <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
              </tr>
              <!-- </ng-container> -->
              </table>
      </div>
    
      <mat-paginator [length]="length" [pageSize]="10" #paginator (page)="pageEvent = getServerData($event)" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>





<!-- <div *ngIf="!isLoading" class="row">
	<div class="col-md-8">
		<div *ngIf="products?.length > 0">
			<pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
		</div>
	</div>
</div>

<div id="div_listTable" style="display:none"></div> -->
