<form (ngSubmit)="Save(f)" #f="ngForm">


  <div>

    <div class="marginno modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Add Type of Training Module</h4>
          <button type="button" class="close" data-dismiss="modal" (click)="activeModal.dismiss('Cross click')">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label">Training Category<span class="red" *ngIf="trainingCategoryId.errors">*</span></label>
                <!-- <input class="form-control" type="text" /> -->
                <select [(ngModel)]="TrainingCategoryModuleModel.trainingCategoryId" name="trainingCategoryId" class="form-control"
                  #trainingCategoryId="ngModel" required >
                  <option selected value="">Please select</option>
                  <option *ngFor="let category of TrainingCategories" value={{category.trainingCategoryId}}>
                    {{category.trainingCategoryName}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label">Type of Training Module<span class="red" *ngIf="trainingCategoryModuleName.errors">*</span></label>
                <input [(ngModel)]="TrainingCategoryModuleModel.trainingCategoryModuleName"
                name="trainingCategoryModuleName" class="form-control" #trainingCategoryModuleName="ngModel"
                  type="text" required />
              </div>
            </div>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="submit" [disabled]="!f.valid" class="btn btn-primary pull-left">Save</button>
          <button class="btn btn-danger" (click)="activeModal.dismiss('Cross click')">Cancel</button>
        </div>

      </div>
    </div>

  </div>
</form>