.more-button {

  position: absolute;
  right: 0;
 top: 3%;
 margin: 10px;
}
.date{
  margin: 5px;
 
 
}
.inside{
  margin-top: -10px;
    margin-bottom: -4px;  
   
    
}
.icons{
  margin-left: 10px;
}
#btn-inside,#btn-inside2{
  margin-left: 8px;
}
.inside-date{
  margin-left: -1px;
}
.white{
  background: white;
 
}

 .mat-form-field-wrapper > .mat-form-field-outline {
  background: white !important;
}
/* .mat-form-field-wrapper > */
/* ng-tns-c5-1 ng-star-inserted */

.mat-form-field-wrapper {
  position: relative;
  border: 1px solid;
  height: 1px;
}
.btn-outside{
 /* margin-left: -30px; */
 float: right;
}