<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <!-- <mat-form-field appearance="fill">
    <mat-select name="countryString" [(value)]="filter.interval" class="widh30 right" placeholder="Interval">
      <mat-option [value]="'daily'">Daily</mat-option>
      <mat-option [value]="'weekly'">Weekly</mat-option>
      <mat-option [value]="'monthly'">Monthly</mat-option>
    </mat-select>
  </mat-form-field> -->
  <mat-form-field appearance="outline" class="date"  >
    <div class="inside">
    <input matInput [(ngModel)]="filter.startDate" (dateChange)="changeFromDate($event)" [matDatepicker]="dateFrom"  placeholder="Choose a date" >
  </div>
    <mat-datepicker-toggle matSuffix [for]="dateFrom"></mat-datepicker-toggle>
    <mat-datepicker (selectedChanged)="changeFromDate($event)" #dateFrom ></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="outline"  >
    <div class="inside">
    <input matInput [min]="minDate" [max]="maxDate" [(ngModel)]="filter.endDate" (dateChange)="changeToDate($event)" [matDatepicker]="dateTo" placeholder="Choose a date">
    </div>
    <mat-datepicker-toggle matSuffix [for]="dateTo"></mat-datepicker-toggle>
    <mat-datepicker (selectedChanged)="changeToDate($event)" #dateTo ></mat-datepicker>
  </mat-form-field>

  <div style="width: 275px !important; float: left; margin-top: 8px;  background-color: white;">
    <ng-multiselect-dropdown  
    name="UserList"
    [placeholder]="'Select Products'"
    [data]="products"
    [(ngModel)]="filter.products"
    [settings]="countryDropdownSettings"
    #UserList="ngModel"
    required
    >
    </ng-multiselect-dropdown>
  </div>



  <span class="btn-outside">
  <button mat-mini-fab aria-label="Search" (click)="getOffsetsChart()" id="btn-inside" color="default">
    <mat-icon>search</mat-icon>
  </button>
  <button mat-mini-fab aria-label="Search" (click)="downloadExcel()" id="btn-inside2"color="default">
    <mat-icon>cloud_download</mat-icon>
  </button>
</span>
<div *ngIf="!isOffsetsLoaded">
	<m-loader></m-loader>
</div>
  <mat-card *ngIf="isOffsetsLoaded" class="dashboard-card" style="width: 100% !important; margin:30px auto !important;" >
    <mat-card-header>
      <mat-card-title>
        Total Offsets
      </mat-card-title>
     
      <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu1" aria-label="Toggle menu" >
        <mat-icon>more_vert</mat-icon>
      </button>
   
      <mat-menu #menu1="matMenu" xPosition="before">
        <button mat-menu-item (click)="donloadGraph('totalOffsetsData')" >Download Image</button>
      </mat-menu>
    
    </mat-card-header>
    <canvas *ngIf="totalOffsetsData.length>0" id="totalOffsetsData" baseChart [datasets]="totalOffsetsData" [labels]="offsetLabels"
    [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType">
  </canvas>
  </mat-card>
<mat-card  *ngIf="isOffsetsLoaded" class="dashboard-card" style="width: 100% !important; margin:30px auto !important;" >
    <mat-card-header>
      <mat-card-title>
        Total Offsets Cost
      </mat-card-title>

      <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu2" aria-label="Toggle menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu2="matMenu" xPosition="before">
        <button mat-menu-item (click)="donloadGraph('totalOffsetSpentData')">Download Image</button>
      </mat-menu>
    </mat-card-header>
    <canvas *ngIf="totalOffsetSpentData.length>0" id="totalOffsetSpentData" baseChart [datasets]="totalOffsetSpentData" [labels]="offsetLabels"
    [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType">
  </canvas>
  </mat-card>
<mat-card *ngIf="isOffsetsLoaded" class="dashboard-card" style="width: 100% !important; margin:30px auto !important;" >
    <mat-card-header>
      <mat-card-title>
        Total Subscriptions
      </mat-card-title>

      <button mat-icon-button class="more-button" [matMenuTriggerFor]="subscriptionMenu" aria-label="Toggle menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #subscriptionMenu="matMenu" xPosition="before">
        <button mat-menu-item (click)="donloadGraph('totalSubscriptionData')">Download Image</button>
      </mat-menu>
    </mat-card-header>
    <canvas *ngIf="totalSubscriptionData.length>0" id="totalSubscriptionData" baseChart [datasets]="totalSubscriptionData" [labels]="offsetLabels"
    [options]="SubscriptionChartOptions" [legend]="barChartLegend" [chartType]="barChartType">
  </canvas>
  </mat-card>
</div>