<div class="row">
	<div class="col-md-6">
		<h3 class="headingcstm">
			CorporatePartner
		</h3>
	</div>
	<div class="margintopresponsive col-md-6">
			<button  class="headingcstmbtn  btn btn-primary pull-right" (click)=OpenTraining()>
				Add CorporatePartner
			</button>
		
	</div>


	 
</div>
<div class="filter-box">
  <mat-form-field appearance="standard">
		<mat-label>Filter</mat-label>
		<input matInput [(ngModel)]="filterName" (keyup)="applyFilter($event)" placeholder="Filter Products" #input>
	  </mat-form-field>
</div>

<div *ngIf="isLoading">
	<m-loader></m-loader>
</div> 
<!-- <div class="row">
	<div class="textalignright col-sm-6 offset-sm-6" *ngIf="totalItems"><h4 class="totalrecordsheading"> Total Records: {{totalItems}}</h4></div>
</div> -->
<!-- <div class="m-portlet m-portlet--full-height">

	<div class="table-wrapper">
	 <span style="font-size: 25px;font-weight: bold;"  *ngIf="totalItems">Total Records: {{totalItems}}</span>
	</div>
</div> -->
<div class="mat-elevation-z8">
  <div class="overflow-scroll" >
    <table #table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" >
    
            <ng-container matColumnDef="corporatePartnerName">
              <th  mat-header-cell *matHeaderCellDef mat-sort-header > Corporate Partner Name </th>
              <td mat-cell *matCellDef="let product"> {{product?.corporatePartnerName}} </td>
            </ng-container>

            <ng-container matColumnDef="image">
              <th  mat-header-cell *matHeaderCellDef mat-sort-header > Image </th>
              <td mat-cell *matCellDef="let product"> <img onerror="this.src='../../../../../assets/app/media/img/no-image-icon-23494.png'" [src]="product?.image"  height="55px" width="55px"></td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="description">
              <th  mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
              <td mat-cell *matCellDef="let product"> {{(product?.description && product?.description.length > 80) ? ((product?.description).slice(0, 80) + '...') : product?.description}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="createdAt">
              <th  mat-header-cell *matHeaderCellDef mat-sort-header> Date Created </th>
              <td mat-cell *matCellDef="let product"> {{product?.createdAt | date}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="url">
              <th  mat-header-cell *matHeaderCellDef mat-sort-header> Url </th>
              <td mat-cell *matCellDef="let product"> {{product?.url}}  </td>
            </ng-container>

            <ng-container matColumnDef="clickCount">
              <th  mat-header-cell *matHeaderCellDef mat-sort-header> ClickCount </th>
              <td mat-cell *matCellDef="let product" >{{product?.clickCount ? product.clickCount:0}} :0 </td>
            </ng-container>
      
          
      
            <ng-container matColumnDef="Actions">
              <th  mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
              <td mat-cell *matCellDef="let product" class="actionbtn" > 
                <div class="mt-12px d-flex">
                  <button mat-raised-button mat-mini-fab color="warn" aria-label="Example icon button with a bookmark icon" class="delete-button" (click)="deleteCorporatePartner(product.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                
                  <button mat-raised-button mat-mini-fab color="primary"  (click)="OpenTraining(product.id)" class="ml-10px edit-button"><mat-icon>edit</mat-icon>
                  </button>
                </div>
              
            </td>
              <!-- <th  mat-header-cell *matHeaderCellDef mat-sort-header> Edit </th>
              <td mat-cell *matCellDef="let product"> <button mat-raised-button color="accent">Accent</button> </td> -->
            </ng-container>
            
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
             <!-- Row shown when there is no matching data. -->
          <!-- <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr> -->
          <!-- </ng-container> -->
          </table>
  </div>
    
	<mat-paginator [length]="length" [pageSize]="10" #paginator (page)="pageEvent = getServerData($event)" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
	</div>
 <!-- [pageSize]="10"      [length]="length" -->

