<div class="card">
  <div class="row setMargin">
    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label">Select District</label>
        <select [(ngModel)]="ddlFacility.facility" name="facility" class="form-control">
          <option selected value="">Please select</option>
          <option *ngFor="let obj of Facility" value="{{obj.placeOfPostingId}}">
            {{obj.placeOfPostingName}}
          </option>
        </select>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label class="transparentclr control-label">E</label>
        <div class="input-group">
          <button _ngcontent-c8="" (click)="GetByFacility()" class="btn btn-success widh100">Filter</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div *ngFor="let obj of model | paginate: { itemsPerPage: paging.PageSize, currentPage: paging.CurrentPage};" class="mt10px card">
      <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="control-label">District:</label>
              <label class="mlt10px"><span>{{obj.district}}</span></label>
            </div>
          </div>
        </div>
      
      <div class=" table-wrapper">
          <table class="table table-hover dataTable no-footer table-responsive">
          <thead class="thead-dark">
              <tr>
                  <th>Trainings Packages</th>
                  <th>No. of Batches</th>
                  <th>No. of participants trained</th>
                  <th>No. of facilities with trained staff</th>
                  <th>No. Master Trainers</th>
                  <th>No. of District Trainers</th>
                  <th>No. of LHWs trained</th>
                </tr>
          </thead>
            
            <tr>
              <td>{{obj.trainingPackages}}</td>
              <td>-</td>
              <td>{{obj.noOfParticipant}}</td>
              <td>-</td>
              <td>{{obj.noOfMasterTrainer}}</td>
              <td>-</td>
              <td>-</td>
            </tr>
          </table>
        </div>
  </div>
  <div *ngIf="model?.length > 0" class="row mt10px">
      <div class="col-md-8">
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
      </div>
    </div> -->