.setMargin{
    margin-bottom: 10px;
}
.marginLeft{
    margin-left: 2px;
}
.search-width{
    width:30% !important
}
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 18%;
  }

  section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
//   .mat-column-description {
//     flex: none;
//     width: 10px;
// }

.actionbtn{
  
display: inline-flex;
padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    width: 100%;
}
.overflow-scroll{
  overflow-x:auto;
}
.ml-10px{
  margin-left: 10px;
}
.mt-12px{
  margin-top: 12px;
}
.filter-box{
  width: 15%;
}
::ng-deep .edit-button , ::ng-deep .delete-button {
width: 35px;
height: 35px;
margin-bottom: 3px;
}
::ng-deep .edit-button .mat-button-wrapper,::ng-deep .delete-button .mat-button-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
::ng-deep .edit-button .mat-button-wrapper .mat-icon ,::ng-deep .delete-button .mat-button-wrapper .mat-icon{
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 676px){
table{
  width: 800px;
}
}