<div class="row">
	<div class="col-md-6">
		<h3 class="headingcstm">
			Notification
		</h3>
	</div>
	<div class="margintopresponsive col-md-6">
			<button  class="headingcstmbtn  btn btn-primary pull-right" (click)=OpenTraining()>
				Add Notification
			</button>
		
	</div>


	<!-- <div class="col-sm-6">
		<div class="form-group">
			<label class="control-label">Search </label>
			<input class="form-control search-width" type="text" [(ngModel)]="search" name="search"  (keyup)="searching($event)" />
		</div>
	</div>

	 -->
	 
</div>
<div class="filter-box">
  <mat-form-field appearance="standard">
		<mat-label>Filter</mat-label>
		<input matInput (keyup)="applyFilter($event)" placeholder="Filter Products" #input>
	  </mat-form-field>
</div>

<div *ngIf="isLoading">
	<m-loader></m-loader>
</div> 
<div class="row">
	<div class="textalignright col-sm-6 offset-sm-6" *ngIf="totalItems"><h4 class="totalrecordsheading"> Total Records: {{totalItems}}</h4></div>
</div>
<!-- <div class="m-portlet m-portlet--full-height">

	<div class="table-wrapper">
	 <span style="font-size: 25px;font-weight: bold;"  *ngIf="totalItems">Total Records: {{totalItems}}</span>
	</div>
</div> -->
<div class="mat-elevation-z8">
  <div class="overflow-scroll">
    <table #table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" >
      <!--       
          <ng-container *ngIf="Products?.length == 0">
            <tr>
              <td class="centerText" colspan="9">Products not found!</td>
            </tr>
          </ng-container> -->
      
          <!-- <ng-container *ngIf="Products?.length > 0"> -->
      
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="title">
              <th  mat-header-cell *matHeaderCellDef mat-sort-header > Title </th>
              <td mat-cell *matCellDef="let product"> {{product.title}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="description">
              <th  mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
              <td mat-cell *matCellDef="let product"> {{(product.description.length > 80) ? ((product.description).slice(0, 80) + '...') : product.description}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="createdAt">
              <th  mat-header-cell *matHeaderCellDef mat-sort-header> Date Created </th>
              <td mat-cell *matCellDef="let product"> {{product.createdAt | date}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="dateTimeSent">
              <th  mat-header-cell *matHeaderCellDef mat-sort-header> Date Notification </th>
              <td mat-cell *matCellDef="let product"> {{product.dateTimeSent | date:'short'}}  </td>
            </ng-container>
      
            <ng-container matColumnDef="userEmail">
              <th  mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
              <td mat-cell *matCellDef="let product"> {{product.userEmail.join(", ") }} </td>
            </ng-container>
      
          <!-- <ng-container matColumnDef="isSent">
              <th  mat-header-cell *matHeaderCellDef mat-sort-header> Sent </th>
              <td mat-cell *matCellDef="let product"> {{product.isSent}} </td>
            </ng-container> -->
      
      
            <ng-container matColumnDef="Actions">
              <th  mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
              <td mat-cell *matCellDef="let product" class="actionbtn" > 
                <div class="mt-12px d-flex">
                  <button mat-raised-button mat-mini-fab color="warn" aria-label="Example icon button with a bookmark icon" class="delete-button" (click)="deleteNotification(product.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                
                  <button mat-raised-button mat-mini-fab color="primary"  (click)="OpenTraining(product.id)" class="ml-10px edit-button"><mat-icon>edit</mat-icon>
                  </button>
                </div>
              
            </td>
              <!-- <th  mat-header-cell *matHeaderCellDef mat-sort-header> Edit </th>
              <td mat-cell *matCellDef="let product"> <button mat-raised-button color="accent">Accent</button> </td> -->
            </ng-container>
            
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
             <!-- Row shown when there is no matching data. -->
          <!-- <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr> -->
          <!-- </ng-container> -->
          </table>
  </div>
    
	<mat-paginator (page)="pageEvent = getServerData($event)" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
	</div>


<!-- <div *ngIf="!isLoading" class="row">
	<div class="col-md-8">
		<div *ngIf="notificationList?.length > 0">
			<pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
		</div>
	</div>
</div>

<div id="div_listTable" style="display:none"></div> -->
