<form (ngSubmit)="Save(f)" #f="ngForm">


  <div>

    <div class="marginno modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Add Type of Training</h4>
          <button type="button" class="close" data-dismiss="modal" (click)="activeModal.dismiss('Cross click')">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label">Department<span class="red" *ngIf="departmentId.errors">*</span></label>
                <!-- <input class="form-control" type="text" /> -->
                <select [(ngModel)]="TrainingCategoryModel.departmentId" name="departmentId" class="form-control"
                  #departmentId="ngModel" required disabled>
                  <option selected value="">Please select</option>
                  <option *ngFor="let Department of Departments" value={{Department.departmentId}}>
                    {{Department.departmentName}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label">Type of Training<span class="red" *ngIf="trainingCategoryName.errors">*</span></label>
                <input [(ngModel)]="TrainingCategoryModel.trainingCategoryName"
                name="trainingCategoryName" class="form-control" #trainingCategoryName="ngModel"
                  type="text" required />
              </div>
            </div>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="submit" [disabled]="!f.valid" class="btn btn-primary pull-left">Save</button>
          <button class="btn btn-danger" (click)="activeModal.dismiss('Cross click')">Cancel</button>
        </div>

      </div>
    </div>

  </div>
</form>