<form (ngSubmit)="Save(f)" #f="ngForm">


  <div>

    <div class="marginno modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Add Scores</h4>
          <button type="button" class="close" data-dismiss="modal" (click)="activeModal.dismiss('Cross click')">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="row">
            
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label">Pretest Score<span class="red" *ngIf="pretestScore.errors">*</span></label>
                <input [(ngModel)]="ScoreModel.pretestScore"
                name="pretestScore" class="form-control" #pretestScore="ngModel"
                  type="number" required />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label">Posttest Score<span class="red" *ngIf="posttestScore.errors">*</span></label>
                <input [(ngModel)]="ScoreModel.posttestScore"
                name="posttestScore" class="form-control" #posttestScore="ngModel"
                  type="number" required />
              </div>
            </div>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="submit" [disabled]="!f.valid" class="btn btn-primary pull-left">Save</button>
          <button class="btn btn-danger"  (click)="activeModal.dismiss('Cross click')" >Cancel</button>
        </div>

      </div>
    </div>

  </div>
</form>