<form (ngSubmit)="Save(f)" #f="ngForm">


  <div>

    <div class="marginno modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Add Place of posting</h4>
          <button type="button" class="close" data-dismiss="modal"
            (click)="activeModal.dismiss('Cross click')">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label">Department<span class="red" *ngIf="departmentId.errors">*</span></label>
                <!-- <input class="form-control" type="text" /> -->
                <select [(ngModel)]="PlaceOfPostingModel.departmentId" name="departmentId" class="form-control"
                  #departmentId="ngModel" (change)="GetFacilityWithDepartmentId(PlaceOfPostingModel.departmentId)" required >
                  <option selected value="">Please select</option>
                  <option *ngFor="let Department of Departments" value={{Department.departmentId}}>
                    {{Department.departmentName}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label">District<span class="red" *ngIf="districtId.errors">*</span></label>
                <!-- <input class="form-control" type="text" /> -->
                <select (change)="selectedDistrict(PlaceOfPostingModel.districtId)"
                  [(ngModel)]="PlaceOfPostingModel.districtId" name="districtId" class="form-control"
                  #districtId="ngModel" required>
                  <option selected value="">Please select</option>
                  <option *ngFor="let District of Districts" value={{District.districtId}}>
                    {{District.districtName}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
				  <label class="control-label">Tehsil<span class="red" *ngIf="tehseelId.errors">*</span></label>
                <select [(ngModel)]="PlaceOfPostingModel.tehseelId" name="tehseelId" class="form-control"
                  #tehseelId="ngModel" required>
                  <option selected value="">Please select</option>
                  <option *ngFor="let Tehseel of Tehseels" value={{Tehseel.tehseelId}}>
                    {{Tehseel.tehseelName}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label">Facility Type<span class="red"
                    *ngIf="facilityTypeId.errors">*</span></label>
                <select [(ngModel)]="PlaceOfPostingModel.facilityTypeId" name="facilityTypeId" class="form-control"
                  #facilityTypeId="ngModel" required>
                  <option selected value="">Please select</option>
                  <option *ngFor="let FacilityType of FacilityTypes" value={{FacilityType.facilityTypeId}}>
                    {{FacilityType.facilityTypeName}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label">Place of Work<span class="red"
                    *ngIf="placeOfPostingName.errors">*</span></label>
                <input [(ngModel)]="PlaceOfPostingModel.placeOfPostingName" name="placeOfPostingName"
                  class="form-control" #placeOfPostingName="ngModel" type="text" required />
              </div>
            </div>
          </div>

        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="submit" [disabled]="!f.valid" class="btn btn-primary pull-left">Save</button>
          <button class="btn btn-danger" (click)="activeModal.dismiss('Cross click')">Cancel</button>
        </div>

      </div>
    </div>

  </div>
</form>
