/* You can add global styles to this file, and also import other style files */
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
//@import '~ng-pick-datetime/assets/style/picker.min.css';

.danger{
  border: 1px solid #aa3535 !important;
}
.success{
  border: 1px solid #979997 !important;
}
#active-div{
  margin-left: 20px;
}
#status{
  position: relative;
    top: -3px;
  margin-left: -5px;
  margin-top: -10px;
  
}
#toggle{
  margin-left: 10px;
}
.m-menu__link{
  margin-top: 15px !important ;
}
.m-menu__nav{
  margin-top: 35px !important ;
}
.container {
  width: 300px;
  font: 17px Calibri;
}
body.m-content--skin-light2 {
  background-color: #448c99 !important;
}

.mat-table__wrapper {
  width: 100%;
  overflow-x: auto;

  mat-cell,
  mat-header-cell {
    min-height: 100%;
  }
}

.mat-table__wrapper .mat-table {
  min-width: 1000px;
  width: 100%;
}

.mat-table__wrapper--dashboard .mat-table {
  min-width: 600px !important;
}

.mat-table__wrapper .mat-table .email-cell {
  word-wrap: normal;
  width: 180px;
  flex: auto;
}

.m-mat-dialog-container__wrapper .mat-dialog-container {
  padding: 0;
  overflow-x: hidden;

  .m-portlet {
    margin-bottom: 0;
  }

  .alert {
    border-radius: 0 !important;
    width: 1032px;
  }
}

.mat-table__wrapper--sub .mat-table {
  min-width: 400px;

  .mat-cell:last-child {
    flex: 0 0 100px;
  }

  .mat-header-cell:last-child {
    flex: 0 0 100px;
  }
}

.ml-auto {
  margin-left: auto;
}

.example-full-width {
  width: 100%;
}

mat-radio-button {
  padding-right: 16px;
}

.m-form--alert {
  margin-top: 30px;
}

.mat-column-checkbox {
  flex: 0 0 68px;
}

.mat-column-id {
  flex: 0 0 68px;
}

.mat-column-main {
  flex: 0 0 568px;
}

.mat-column-actions {
  flex: 0 0 160px;
}

.mat-table__bottom {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.mat-column-vinCode {
  flex: 0 0 170px;
}

.m-portlet-mx-0 {
  margin: -1.1rem -2.2rem 0;
  overflow-x: hidden;
}

.mat-table__wrapper .mat-table .mat-row-editing.mat-row-inactive {
  height: 0;
  min-height: 0;
  padding: 0 !important;
  border-bottom: 0 !important;
}

.btnclr {
  background-color: #088ccf !important;
}

tr:nth-child(odd) {
  background: #fff;
}

.paddingleft30px {
  padding-left: 34px !important;
}

.btncstm {
  border: solid 1px;
  border-radius: 10px;
  padding: 5px 10px 5px;
  background-image: none;
  background-color: #d35544;
  border-color: #d35544;
  color: #ffffff;
  font-family: Verdana, sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

.btncstm:hover {
  background-image: none;
  background-color: #ffffff;
  border-color: #d35544;
  color: #c35142;
}

.m-menu__nav > .m-menu__item.m-menu__item--active.m-menu__link-text {
  color: white !important;
}

.m-menu__link-text:hover {
  color: white !important;
}

.m-menu__link-icon:hover {
  color: white !important;
}

.m-menu__link-text {
  color: #d5d5d5;
}

.m-menu__link-icon {
  color: #d5d5d5;
}

.m-aside-menu .m-menu__nav > .m-menu__item > .m-menu__heading .m-menu__link-text,
.m-aside-menu .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__link-text {
  font-weight: 600 !important;
  font-size: 20px !important;
  text-transform: initial;
}

.m-aside-menu.m-aside-menu--skin-dark
  .m-menu__nav
  > .m-menu__item.m-menu__item--active
  > .m-menu__heading
  .m-menu__link-text,
.m-aside-menu.m-aside-menu--skin-dark
  .m-menu__nav
  > .m-menu__item.m-menu__item--active
  > .m-menu__link
  .m-menu__link-text {
  color: #ffffff !important;
}

.m-aside-menu.m-aside-menu--skin-dark
  .m-menu__nav
  > .m-menu__item.m-menu__item--active
  > .m-menu__heading
  .m-menu__link-icon,
.m-aside-menu.m-aside-menu--skin-dark
  .m-menu__nav
  > .m-menu__item.m-menu__item--active
  > .m-menu__link
  .m-menu__link-icon {
  color: #ffffff !important;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item > .m-menu__heading .m-menu__link-icon,
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__link-icon {
  color: #b1b1b2;
}

.m-aside-menu .m-menu__nav > .m-menu__item > .m-menu__heading,
.m-aside-menu .m-menu__nav > .m-menu__item > .m-menu__link {
  cursor: pointer;
  height: 55px !important;
}

.dispflex {
  display: flex;
}

.centerText {
  text-align: center;
}

button {
  cursor: pointer;
}

.card {
  padding: 20px;
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
}

.control-label {
  font-weight: 500;
}


.mlt10px {
  margin-left: 10px;
}

.textalignright {
  text-align: right;
}

.textaligncenter {
  text-align: center;
}

.dashboard-card-content{
  // width: 1000px;
  // height: 1000px;
  
}

.paddingleft0px {
  padding-left: 0px !important;
}

.ngx-pagination {
  padding-left: 0px !important;
}

.headingcstm {
  margin-bottom: 20px;
  text-decoration: underline;
  margin-top: -11px;
}

.headingcstmbtn {
  margin-bottom: 20px;
  margin-top: -17px;
}

.mt10px {
  margin-top: 10px;
}

.mt5px {
  margin-top: 5px;
}

.headingcstm1 {
  margin-bottom: 10px;
  text-decoration: underline;
  margin-top: 0px;
}

.headingcstm2 {
  margin-top: 40px;
  margin-bottom: 0px;
  text-decoration: underline;
}

.headingcstmbtn2 {
  margin-top: 40px;
  margin-bottom: 0px;
}

.red {
  color: red !important;
  font-size: 13px !important;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item > .m-menu__heading .m-menu__ver-arrow,
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__ver-arrow {
  font-size: small !important;
}

.marginno {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.modal-footer {
  justify-content: left !important;
}

.textalignleft {
  text-align: left;
}

.transparentclr {
  color: rgba(0, 0, 0, 0);
}

.widh10 {
  width: 10% !important;
}
.widh20 {
  width: 20% !important;
}
.widh30 {
  width: 30% !important;
}
.widh40 {
  width: 40% !important;
}
.widh50 {
  width: 50% !important;
}
.widh60 {
  width: 60% !important;
}
.widh70 {
  width: 70% !important;
}
.widh80 {
  width: 80% !important;
}
.widh90 {
  width: 90% !important;
}
.widh100 {
  width: 100% !important;
}
.textfieldcenter {
  display: flex;
  justify-content: center;
}

.btncstm1 {
  height: 32px !important;
  padding: 8px !important;
  margin-left: 2px;
}

.form-control {
  font-family: Poppins !important;
}

.dispflex1 {
  display: flex;
}

.table-wrapper {
  overflow-x: auto;
}

.justifycontentend {
  justify-content: flex-end;
}

.profileavatartext {
  margin-top: 15px;
  margin-right: 10px;
  color: black;
}

.redinvalid {
  border-color: #ff0707 !important;
}

@media screen and (max-width: 500px) {
  .loader {
    left: 40% !important;
  }

  .loginimage {
    width: 340px !important;
    position: relative;
    right: 0px !important;
  }

  .loginmobilelogo {
    width: 84px !important;
  }

  .m-login.m-login--6 .m-login__aside .m-grid__item .m-grid__item .m-login__title {
    font-size: 1rem !important;
  }

  .m-login.m-login--6 .m-login__aside .m-grid__item .m-grid__item .m-login__subtitle {
    margin: 1rem !important;
  }

  .m-login.m-login--6 .m-login__aside .m-grid__item .m-grid__item .m-login__subtitle {
    font-size: 15px;
  }

  .m-login.m-login--6 .m-login__wrapper .m-login__body .m-login__signin {
    margin-top: -46px !important;
  }

  .m-login.m-login--6 .m-login__wrapper .m-login__body .m-login__signin .m-login__title {
    margin-bottom: 0px !important;
  }

  .m-login.m-login--6 .m-login__wrapper .m-login__body .m-login__signin .m-login__form {
    margin: 0;
  }

  .m-login.m-login--6 .m-login__wrapper .m-login__body .m-login__signin .m-login__form {
    margin-top: 0px !important;
  }

  .headingcstm {
    margin-bottom: 20px;
    text-decoration: underline;
    margin-top: 6px !important;
  }

  .margintopresponsive {
    margin-top: 20px !important;
  }
}

.loginimage {
  width: 660px;
  position: relative;
  right: 114px;
}

.headingcstmbtn2 {
  margin-top: 40px;
  margin-bottom: 0px;
}

.headingcstmtrainer {
  margin-top: 40px;
  margin-bottom: 19px;
  text-decoration: underline;
}

.participantboxside {
  border: 2px solid #c3c3c3;
  margin: 0px !important;
  padding: 8px;
  box-shadow: 0px 9px 14px 1px rgba(69, 65, 78, 0.08);
}

.participantdetailheading {
  margin-top: 30px;
  margin-bottom: 20px;
  text-decoration: underline;
}

.green {
  color: #28a745;
}

.form-control {
  padding: 0.375rem 0.75rem !important;
}

.cdk-overlay-container {
  z-index: 9999 !important;
}

.padding20pxdash {
  padding: 20px !important;
}

.kt-portlet.kt-portlet--head-noborder .kt-portlet__head {
  border-bottom: 0;
}

.kt-portlet.kt-portlet--fit .kt-portlet__head {
  padding: 0;
}

.kt-portlet .kt-portlet__space-x {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.kt-portlet .kt-portlet__head {
  -webkit-transition: left 0.3s, right 0.3s, height 0.3s;
  transition: left 0.3s, right 0.3s, height 0.3s;
}

.kt-portlet .kt-portlet__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  padding: 0 25px;
  border-bottom: 1px solid #ebedf2;
  min-height: 60px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-title {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  font-weight: 500;
  color: #464457;
}

.kt-widget20 .kt-widget20__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1.15rem;
  padding-bottom: 1.25rem;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.kt-portlet .kt-portlet__space-x {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.kt-widget20 .kt-widget20__content .kt-widget20__number {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-weight: 600;
  font-size: 1.8rem;
}

.kt-font-danger {
  color: #fd397a !important;
}

@media (min-width: 501px) and (max-width: 1024px) {
  .loginimage {
    width: 626px;
    position: relative;
    right: 59px;
  }
}

@media (min-width: 1025px) and (max-width: 1300px) {
  .loginimage {
    width: 571px;
    position: relative;
    right: 38px;
  }
}

.m-card-user .m-card-user__details .m-card-user__name {
  display: block;
  padding: 0 0 0 0;
  font-size: 1rem !important;
  font-weight: 800 !important;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .m-card-user .m-card-user__details .m-card-user__email {
    display: inline-block;
    padding: 0 0 0 0;
    font-size: 10px !important;
  }

  .m-card-user .m-card-user__details .m-card-user__name {
    display: block;
    padding: 0 0 0 0;
    font-size: 10px !important;
    font-weight: 800 !important;
  }

  .m-card-user .m-card-user__pic img {
    max-width: 51px !important;
    width: 51px !important;
  }
}

.gap-20 {
  margin: -10px !important;
}

.bgc-white,
.bgcH-white:hover {
  background-color: #fff !important;
}

.bd {
  border: 1px solid rgba(0, 0, 0, 0.0625) !important;
}

.p-20 {
  padding: 20px !important;
}

.d-f,
.layers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.layers {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mB-10 {
  margin-bottom: 10px !important;
}

.w-100 {
  width: 100% !important;
}

.lh-1 {
  line-height: 1 !important;
  font-size: 18px;
  margin-top: 20px;
}

.fxw-nw {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.peers {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  height: auto;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.peer-greed,
.peers-greed > .peer,
.peers-greed > .peers {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.peer {
  display: block;
  height: auto;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
}

.c-green-500,
.cH-green-500:hover {
  color: #4caf50 !important;
}

.bdrs-10em {
  border-radius: 10em !important;
}

.lh-0 {
  line-height: 0 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.pX-15 {
  padding-left: 22px !important;
  padding-right: 22px !important;
}

.pY-15 {
  padding-top: 22px !important;
  padding-bottom: 22px !important;
}

.va-m {
  vertical-align: middle !important;
}

// .d-ib {
//   display: inline-block !important;
//   font-size: 44px;
// }
.c-blue-500,
.cH-blue-500:hover {
  color: #2196f3 !important;
}

.c-purple-500,
.cH-purple-500:hover {
  color: #9c27b0 !important;
}

.blackclr {
  color: #2f2f3d !important;
}

.totalrecordsheading {
  padding-top: 10px;
  padding-bottom: 3px;
  font-size: 1.2rem !important;
}

.ng-select .ng-select-container {
  border: 1px solid #fff !important;
}

.searchabledropdowncstm {
  padding: 0px !important;
}

.ng-select .ng-select-container:hover {
  box-shadow: none !important;
}

.mat-expansion-panel-header-title[_ngcontent-c1] {
  font-size: 15px !important;
}

@media screen and (max-width: 1024px) {
  .m-login.m-login--6 .m-login__aside .m-grid__item .m-grid__item .m-login__subtitle {
    font-size: 8px !important;
  }

  .m-login.m-login--6 .m-login__aside {
    padding: 2rem 2rem !important;
  }

  .m-login.m-login--6 .m-login__aside .m-grid__item .m-login__info {
    margin-top: 0rem !important;
  }

  .m-login.m-login--6 .m-login__aside .m-grid__item .m-login__logo {
    margin-bottom: 0.5rem !important;
  }
}

.m-login.m-login--6 .m-login__aside .m-grid__item .m-grid__item .m-login__subtitle {
  color: #fff !important;
}

@media screen and (min-width: 1025px) {
  .m-login.m-login--6 .m-login__aside .m-grid__item .m-grid__item .m-login__subtitle {
    margin-top: -8rem !important;
    font-size: 1rem !important;
  }
}

.m-aside-left.m-aside-left--skin-dark {
  // background: linear-gradient(0turn, #202b34, #374a59) !important ;
  background: #128c98  !important;
}

.m-brand.m-brand--skin-dark {
  //background: #374a59 !important;
  //background: rgb(7, 71, 166) !important;
  background: #128c98 !important;
}

.m-menu__nav > .m-menu__item.m-menu__item--active {
  position: relative;
  margin: 0;
  background-color: #09464c !important;
  color: white !important;
  font-weight: normal;
  font-style: normal;
  text-decoration: non;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item > .m-menu__heading .m-menu__link-text,
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__link-text {
  color: rgb(255, 255, 255);
}

.m-aside-menu .m-menu__nav > .m-menu__item:hover {
  position: relative;
  margin: 0;
  background-color: #09464c !important;
  color: white !important;
  font-weight: normal;
  font-style: normal;
  text-decoration: non;
}

.table .thead-dark th {
  color: #fff;
  background: #006fc8 !important;
  // background-color: #374a59 !important;
  // border-color: #374a59 !important;
}

.m-aside-menu .m-menu__nav > .m-menu__item:focus {
  position: relative;
  margin: 0;
  background-color: rgb(2, 47, 114) !important;
  color: white !important;
  font-weight: normal;
  font-style: normal;
  text-decoration: non;
}

.newcstmbtnclr {
  background-color: #5879dd !important;
}

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  background-color: #0769d2 !important;
}

.btn-primary {
  color: #fff;
  background-color: #5879dd;
  border-color: #5867dd;
}

.mat-sort-header-arrow {
  color: #ffffff !important;
}

.newformbanner {
  margin-bottom: 10px;
  background: #022f72;
  color: white;
  padding-top: 10px;
}

tr:nth-child(even) {
  background: #fafafa;
}

.table .thead-dark th {
  color: #787b88 !important;
  background: #ffffff !important;
  border-bottom: 4px solid #f4f5f8 !important;
  font-weight: 600 !important;
  border-top: none !important;
}

.mat-sort-header-arrow {
  color: #6c7293 !important;
}
// .m-portlet {
//   box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),
//   0 8px 10px 1px rgba(0,0,0,.14),
//   0 3px 14px 2px rgba(0,0,0,.12) !important;
// }

.table th,
.table td {
  padding: 1rem !important;
}

.btnaddclrnew {
  background-color: #006600 !important;
  border-color: #035103 !important;
}

.btnaddclrnew:hover {
  background-color: #035103 !important;
  border-color: #035103 !important;
}

// .mat-form-field-appearance-legacy .mat-form-field-underline {
//   background-color: rgb(253, 255, 253) !important;
// }

// .clrwhite {
//   color: white !important;
// }

// .mat-form-field.mat-form-field-invalid .mat-form-field-label.mat-accent,
// .mat-form-field.mat-form-field-invalid .mat-form-field-label .mat-form-field-required-marker {
//   color: white !important;
// }

// .mat-form-field.mat-form-field-invalid .mat-form-field-ripple,
// .mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent {
//   background-color: #f7f6f6 !important;
// }

// .mat-form-field-appearance-legacy .mat-form-field-label {
//   color: rgb(249, 249, 249) !important;
// }

// .mat-focused .mat-form-field-required-marker {
//   color: white !important;
// }

// .mat-form-field.mat-focused .mat-form-field-ripple {
//   background-color: white !important;
// }

.btn-success {
  color: #fff;
  background-color: #28a745 !important;
  border-color: #28a745 !important;
}

.btn-success:hover {
  color: #fff;
  background-color: #18712c !important;
  border-color: #18712c !important;
}

.btn-primary {
  background-color: #128c98 !important;
  border-color: #128c98 !important;
}

.btn-primary:hover {
  background-color: #09464c !important;
  border-color: #09464c !important;
}

input:-internal-autofill-selected {
  background-color: #6ab56a !important;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: rgb(250, 255, 189) !important;
  background-image: none;
  color: rgb(0, 0, 0);
}

.d-ib {
  display: inline-block !important;
  font-size: 16px;
}

.paddingtopbottom10px {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.padding8px {
  padding: 8px !important;
}

.newdashboardbox {
  line-height: 1 !important;
  font-size: 15px;
  margin-top: 20px;
}

.paddingleftrightnone {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.margintopbpttom50px {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}
.m-brand .m-brand__logo .m-brand__logo-wrapper{
  display: flex !important;
  justify-content: center;
  margin-left: 3rem;
      width: 100%;
}
.m-brand .m-brand__logo .m-brand__logo-wrapper > img{
  width: 60% !important;
}

.margintop20 {
  margin-top: 20px !important;
}

.logo_wrapper m-brand {
  position: relative;
}
.m-stack.m-stack--general.m-stack--ver>.m-stack__item.m-stack__item--middle{
  width: 79%;
}
.m-brand .m-brand__logo.logo_botton_txt {
  // position: absolute;
  bottom: 5px;
  margin: 0px;
  color: #fff;
  font-size: 12px;
  width: 100%;
  padding-right: 35px;
  line-height: 12px !important;
  height: initial !important;
  text-align: center;
  font-size: 14px;
}

@media (min-width: 1025px) {
  .m-header {
    height: 90px !important;
  }

  .m-header--fixed .padding_top.m-body {
    padding-top: 90px !important;
  }
  body.m-aside-left--fixed .m-body {
    padding-left: 300px;
   
  }
}

@media (max-width: 1024px) {
  .logo_wrapper img {
    width: 110px !important;
  }

  .logo_botton_txt {
    bottom: 5px;
  }
  .hide_on_mobile {
    display: none;
  }

  .profileavatartext {
    margin-top: 8px;
  }
}

@media (max-width: 767px) {
  .m-card-user .m-card-user__details .m-card-user__name {
    font-size: 10px !important;
  }

  body div.peer h3.d-ib {
    font-size: 12px !important;
  }

  .newdashboardbox {
    font-size: 9px;
  }

  .newfontsizefornumber {
    font-size: 15px !important;
  }

  body div h3.counter.fontsize40px {
    font-size: 30px !important;
  }

  body div h6.counter.font-size30px {
    font-size: 20px !important;
  }
  .resmarginbottom{
    margin-bottom:20px !important
  }
}

// @media only screen and (min-device-width: 767px) and (max-device-width: 1024px) {
//   .m-stack.m-stack--general.m-stack--ver > .m-stack__item:first-child {
//     padding-left: 45%;
//   }
// }
@media (min-device-width: 1024px) {
  // .m-stack.m-stack--general.m-stack--ver > .m-stack__item:first-child {
  //   padding-left: 13%;
  // }
  body m-aside-left.m-aside-left,
  body m-brand.m-brand {
    width: 300px;
  }
}
@media only screen and (min-device-width: 480px) and (max-device-width: 767px) {
  .m-stack.m-stack--general.m-stack--ver > .m-stack__item:first-child {
    padding-left: 40%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .m-stack.m-stack--general.m-stack--ver > .m-stack__item:first-child {
    padding-left: 35%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .newhometext {
    font-size: 14px !important;
  }
  .resimg{
    width: 70%
  }
  
.newfontdoublelines{
  font-size: 14px !important 
}
.icon-info p {
  font-size: 14px !important;
}
 
}
// @media only screen and (max-device-width: 768px) {
//   .newfontdoublelines{
//     font-size: 10px !important 
//   }
// }

@media only screen and (min-width: 560px) and (max-width: 768px) {
 
  
.newfontdoublelines{
  font-size: 10px !important 
}
.icon-info p {
  font-size: 10px !important;
}
}

@media only screen and (min-width: 1200px) {
  .newfontdoublelines{
    font-size: 20px 
  }
  
}

@media only screen and (max-width: 500px) {
  .flexwrap{
    flex-wrap: unset !important;
  }
  
}
.hide{
  display: none !important;
}
.m-dropdown.m-dropdown--header-bg-fill .m-dropdown__header{
  background:#09464c !important;
}

m-add-training .row{

  margin-left: 8px;
  padding-top: 31px;
}

m-corporate-partner-modal .row{

  margin-left: 8px !important;
  padding-top: 31px !important;
}
.left{
  float: left;
}
.right{
  float: right;
}

