.red{
    color: red;
    font-size: 15px;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
.img_del_wrapper {
	position: relative;
	width: 150px;
}
button.btn.del_btn {
	position: absolute;
	top: 0px;
	right: 0px;
}
.checkboxset{
  display: flex;
    align-items: center;
}

.mr-20px{
  margin-right: 20px; 
}

.margin-0{
  margin: 0 5px 0 0;
}

.active-div, .inActive-div{
  display: flex;
  align-items: center;
  margin-top: 9px;
}

.active-div > label, .inActive-div > label{
font-size: 14px;
}