<div *ngIf="isLoading">
	<m-loader></m-loader>
</div>
<div class="row">
	<div class="col-md-6">
		<h3  class="headingcstm">
			{{ Id==null?"Add Corporate Partner":"Edit Corporate Partner"}}
		</h3>
	</div>
</div>



<form (ngSubmit)="Save(f)" #f="ngForm" class="card">
	<div class="row">
		
		<div class="col-sm-6">
			<div class="form-group">
				<label class="control-label">Corporate Partner Name<span class="red">*</span></label>
				<div class="input-group">
					<input type="text"   name="CorporatePartnerName" class="form-control"  [(ngModel)]="CorporatePartner.CorporatePartnerName" #CorporatePartnerName="ngModel" autocomplete="off" [class.redinvalid]="!CorporatePartnerName.valid && f.submitted" required  />				
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label class="control-label">Description<span class="red">*</span></label>
				<input [(ngModel)]="CorporatePartner.Description" name="Description" class="form-control"
					   type="Text"
					   #Description="ngModel" required  [class.redinvalid]="!Description.valid && f.submitted"/>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="form-group">
				<label class="control-label">Url</label>
				<input type="text" class="form-control" [(ngModel)]="CorporatePartner.Url" name="Url"
					   value="{{CorporatePartner.Url}}" #Url="ngModel" [class.redinvalid]="!Url.valid && f.submitted" required  />
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label class="control-label">Image</label>

					   <input *ngIf="images != null"  id="Image" type="file" class="form-control"  (change)="onFileSelected($event)" [(ngModel)]="CorporatePartner.Image" name="Image"
					   value="{{CorporatePartner.Image}}" #Image="ngModel" [class.redinvalid]="!Image.valid && f.submitted" accept="image/*"  />


					   <input *ngIf="images == null" id="Image" type="file" class="form-control"  (change)="onFileSelected($event)" [(ngModel)]="CorporatePartner.Image" name="Image"
					   value="{{CorporatePartner.Image}}" #Image="ngModel" [class.redinvalid]="!Image.valid && f.submitted" accept="image/*" required  />
			</div>
		</div>
		<div class="col-sm-6">
			<img onerror="this.src='../../../../../assets/app/media/img/no-image-icon-23494.png'" [src]="images"  height="55px" width="55px">
		</div>

	</div>
	<div class="row setMargin">
		<div class="col-sm-6">
			<button type="submit" class="btn btn-primary pull-left">Save</button>
			<button type="button" class="btn btn-warning mlt10px" (click)="activeModal.dismiss('Cross click')">Back to list</button>
		</div>
	</div>
</form>
